.primary-bg-color{
    background-color: #0078BE;
}
.secondary-bg-color{
    background-color: #F5F5F5;
}
.primary-txt-color{
    color: white;
}
.secondary-txt-color{
    color: #646464;
}
.third-txt-color{
    color:#B6B6B6;
}
.fourth-txt-color{
    color: #0078BE;
}