* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    height: 150px;
    width: 80%;
}
.navbar img{
    height: auto;
    width: 94px;
}
.navbar ul{
    list-style: none;
}
.navbar ul> li,.navbar ul> li> a{
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    align-items: center;
    justify-content: center;
}
.navbar ul>li:hover{
    background-color:rgba(209, 208, 208, 0.326);
    cursor: pointer;
    transition: all 0.5s;
}
header{
    background-image:url(../../assets/slide2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1024px;
}
header  h2{
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
}
.foundation{
    margin: 40px;
}
.foundation > div{
    text-align: center;
    font-size: 16px;
    background-color: white;
    height: 400px;
    width: 20%;
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
.foundation >div>div>img{
    height: 75px;
    width: 100%;
}
.foundation >div>div>p{
    line-height: 1.5;
}
.community:hover{
    background-color: #DCE8EF;
}
.economy:hover{
    background-color:#DCEBEC;
}
.design:hover{
    background-color: #EFF5F1;
}
.sustainability:hover{
    background-color: #ECEFDC;
}
.social:hover{
    background-color: #F6E2E7;
}
.vision{
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255,0)), url(../../assets/Shared-Space-at-BDD.png);
    background-attachment: fixed;
    height: 450px;
}
.vision h1{
    font-weight: 600;
    font-size: 30px;
}
.join{
    margin: 30px 10px 20px 0px;
}
.join img{
    display: block;
    width: 100%;
}
.join > div>div{
    text-align: center;
    font-size: 16px;
    height: 600px;
    padding: 5px;
    width: 25%;
}
.join > div>div:hover,a:hover{
    box-shadow: 10px 10px 20px rgb(0 0 0 / 30%);
    transition: all 0.5s;
}
.join h3{
    margin-top: 40px;
}

.join ul li,h3{
    list-style-image:url(../../assets/1bdb97fd-0c96-4794-b2a1-fa2bb42798ef.png);
    line-height: 1.8;
    width: 60%;
    text-wrap: wrap;
    text-align: start;

}
.join a{
    text-decoration: none;
    padding: 10px;
}
.icon{
    height: 15%;
    width: 15%;
}
.icon:hover{
    cursor: pointer;
}
.preferred{
    background-image: url(../../assets/parallax-light.jpg);
    background-attachment: fixed;
    background-position-y: center;
    height: 350px;
    padding: 40px;
    text-align: left;
    font-size: 15px;
}
.preferred img{
    height: 50%;
    width: 50%;
    display: block;
}
.preferred >div>div{
    width: 200px;
}
.trending{
    text-align: left;
    background-image: url(../../assets/bg-icon-empty.png);
    background-position-y: center;
}
.trending button{
    padding: 10px 20px;
    font-weight: bold;
    margin-top: 50px;
}
.trending h3{
    border-bottom: 1px solid #E8E8E8;
    float: left;
    width: 100%;
}
.trending h5{
    float: left;
    width: 100%;
}
.trending img{
    height:100%;
    width: 100%;
    display: block;
}
.trending>div>div{
    width: 350px;
    height:400px;
    background-color: #fff;
}
.first-trend{
    margin: 40px 0 0 40px;
}
.second-trend{
    margin-top: 20px;
}